
@import url(http://fonts.googleapis.com/css?family=Lora:700,400);
@import url(http://fonts.googleapis.com/css?family=Concert+One);
/* Commom style Starts here */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    outline: none;
}



/* Mozila Border Remove Css */
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}


a,
a:active,
a:selected,
a:hover,
a:focus,
a:visited { 
    border: none;
    outline: 0;
    outline-offset:0;
    text-decoration: none;
    color:#008000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 700;
}

b,
strong {
    font-weight: 700;
}
body{
    font-family:Verdana, Tahoma, Geneva, sans-serif;
    line-height:normal;
}
.green{
    color: #008000;
}
.remove-padding{
    padding: 0;
}
/* Commom style ends here */

/* Home Page starts here */ 
.top-nav ul{
    list-style-type: none;
    max-width: 600px;
    margin: 0 auto;
    display: inline-block;
} 
.share-icons-home{
    display: inline-block;
    float: right;
}
.top-nav{
    padding: 15px 0;
}
.top-nav ul li{
    display: inline;
    padding: 0 10px;
}
.header-bg{
    background: transparent url('images/header-bg.png') repeat-y  0 0;
    min-height: 118px;
}
.unstupid-logo{
    padding: 5px 0 5px 25px;
}
.unstupid-logo img{
    max-width: 248px;
    max-height: 105px;
}
.unstupid-logo-text span.desktop-text{
    /*float: right;*/
    font-family: 'Lora', serif;
    font-size: 26px;
    color: #000;
    text-shadow: 6px 6px 2px rgba(150, 150, 150, 1);
}
.unstupid-logo-text{
    padding: 25px 10px;
}
.menu-item{
    background-color: #ec7f1b;
    border-radius: 6px;
    border-top: 1px solid #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 3px solid #000;
}
.menu-item:hover,
.menu-item:active,
.menu-item:focus,
.menu-item:active,
.menu-item:active:hover,
.menu-item.active:hover, 
.menu-item:active:focus, 
.menu-item.active:focus,
.menu-item:active.focus,
.menu-item.active.focus {
    background-color: #ec7f1b;
    border-color: #000;
    border-bottom: 2px solid #000;
}


.mission-block , .call-block{
    border: 1px solid #000;
    padding: 5px;
}
.mission-block marquee{
    text-align: center;
}
.mission-block h2{
    font-size: 14px;
    padding-top: 5px;
}
.mission-block p{
    color:#000000;
    font-size: 12px;
    padding-top: 3px;
}
.bottom-blue-patch{
    background: #000080;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
}
.exam-copy{
    padding-top: 5px;
    text-align: center;
}
.test-btn a img{
    display: block;
    margin: 0 auto;
}
.home-add-banner img.desktop-banner{
    display: block;
    margin: 0 auto;
}
.home-add-banner{
    margin: 20px 0;
}
.mobile-banner{
    display: none;
}
.first-course-block{
    padding-right: 0;
}
.courses-wrap{
    max-width: 152px;
    max-height: 150px;
    border:1px solid #727272;
    padding: 5px;
}
.courses-block{
    max-width: 140px;
    max-height: 140px;
    width: 100%;
    height:150px;
    background:  transparent url('images/courses-bg.png') no-repeat 0 0;
    text-align: center;

}
.overlay-copy  article
{
    font-size: 15px;
    color: #fff;
    text-decoration: underline;
    text-align: center;
    padding: 10px 10px 0 10px;
}
.overlay-copy a{
    color: #28a809;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    text-align: center;
}
.home-notice{
    border: 1px solid #727272;
    font-size: 13px;
    text-align: center;
    color: #000080;
    padding: 5px 10px;
    margin: 25px 0;
}
.footer{
    border-top:3px solid #999999; 
    padding: 10px 0;
    font-size: 10px;
    color: #000;
}
.footer a{
    color: #000;  
}
.terms-footer{
    float:left;
}
.logo-footer{
    float:right;
}
.event-btn{
    float: right;
    margin: 10px 0;
}

/* Header Text Rotaion and Glow starts here */

figure h1 {
    animation:glow 10s ease-in-out infinite;

    /* For less laggy effect, uncomment this:
      
      animation:none;
      -webkit-text-stroke:1px #fff; 
     
    =========== */

}
* { box-sizing:border-box; }
figure {
    animation:wobble 5s ease-in-out infinite;
    transform-origin:center center;
    transform-style:preserve-3d;
}

@keyframes wobble {
    0%,100%{ transform:rotate3d(1,1,0,25deg); }
    25%{ transform:rotate3d(-1,1,0,25deg); }
    50%{ transform:rotate3d(-1,-1,0,25deg); }
    75%{ transform:rotate3d(1,-1,0,25deg); }
}
figure h1 {
    display:block;
    width:100%;
    position:absolute;
    color:#0a0a0a;
    font-family: 'Lora', serif;
    font-size: 26px;
}

@keyframes glow {
    0%,100%{ text-shadow:0 0 30px yellow; }
    25%{ text-shadow:0 0 30px blue; }
    50%{ text-shadow:0 0 30px forestgreen; }
    75%{ text-shadow:0 0 30px cyan; }
}

figure h1:nth-child(2){ transform:translateZ(5px); }
figure h1:nth-child(3){ transform:translateZ(10px);}
figure h1:nth-child(4){ transform:translateZ(15px); }
figure h1:nth-child(5){ transform:translateZ(20px); }
figure h1:nth-child(6){ transform:translateZ(25px); }
figure h1:nth-child(7){ transform:translateZ(30px); }
@media all and (max-width:768px){
    .header-bg{
        min-height: 215px;
    }
}
@media all and (max-width:640px){
    .header-bg{
        min-height: 230px;
    }
}
@media all and (max-width:480px){
    .header-bg{
        min-height: 220px;
    }
}
@media all and (max-width:320px){
    .header-bg{
        min-height: 250px;
    }
}



/* Header Text Rotaion and Glow Ends here */
@media all and (max-width:480px){
    .desktop-banner, .home-add-banner img.desktop-banner{
        display: none;
    }
    .mobile-banner{
        display: block;
    }
    .unstupid-logo img{
        max-width: 225px;
    }
}
@media all and (max-width:570px){
    /*    .top-nav ul li.last-item{
            display: block;
            max-width: 140px;
            margin: 0 auto;
            padding-top: 10px;
        }*/
    .menu-item{
        font-size: 12px;
        padding: 4px;
    }
    .top-nav ul li{
        padding: 0 2px;
    }
}
@media all and (max-width:767px){
    .bottom-blue-patch{
        min-height: 43px;
    }
    .hide-in-phone{
        display: none;
    }
    .first-course-block img{
        display: block;
        margin:0 auto;
        max-height: 160px;
        padding-bottom: 5px;
    }
    .courses-wrap{
        display: block;
        margin: 0 auto;
    }

    .home-courses .col-sm-2 {
        padding: 5px 0;
    }
    .home-courses .first-course-block{
        max-height: 160px;
        padding-right:0px;
    }
    .unstupid-logo-text span.desktop-text{
        font-size: 18px;
    }
    .unstupid-logo-text{
        padding: 20px;
    }
    .share-icons-home{
        padding:10px 0;
    }
}
@media all and (min-width:768px) and (max-width:1024px){
    .overlay-copy article{
        font-size: 12px;
    }
}



/* Home Page Blink Color Notice starts here */
/* http://www.techumber.com/2012/12/multi-color-text-blinker-using-pure-css.html */
.blinker{
    animation: changecolor 5s infinite;
    -moz-animation: changecolor 5s infinite; 
    -webkit-animation: changecolor 5s infinite;
    -ms-animation: changecolor 5s infinite; 
    -o-animation: changecolor 5s infinite; 
    /*    text-shadow: 0 0 20px #fefcc9,
            10px -10px 30px #feec85,
            -20px -20px 40px #ffae34,
            20px -30px 35px #ec760c,
            -20px -40px 40px #cd4606,
            0 -50px 65px #973716,
            10px -70px 70px #451b0e;*/
}


@keyframes changecolor
{
    0%   {color: red;}
    25%  {color: orange;}
    50%  {color: blue;}
    100% {color: green;}
}
/* Mozilla Browser */
@-moz-keyframes changecolor 
{
    0%   {color: red;}
    25%  {color: orange;}
    50%  {color: blue;}
    100% {color: green;}
}
/* WebKit browser Safari and Chrome */
@-webkit-keyframes changecolor 
{
    0%   {color: red;}
    25%  {color: orange;}
    50%  {color: blue;}
    100% {color: green;}
}
/* IE 9,10*/
@-ms-keyframes changecolor 
{
    0%   {color: red;}
    25%  {color: orange;}
    50%  {color: blue;}
    100% {color: green;}
}
/* Opera Browser*/
@-o-keyframes changecolor 
{
    0%   {color: red;}
    25%  {color: orange;}
    50%  {color: blue;}
    100% {color: green;}
}
/* Home Page Blink Color Notice Ends here */

/* Home Page ends here */


/* About Page Starts Here */
.about-body-wrapper{
    max-width: 900px;
    margin: 0 auto;
}
.about-copy p{
    font-size: 14px;
    color: #000;
    padding: 25px 0;
}
/* About Page Ends Here */


/* Error Page Starts Here */
.error-copy{
    padding: 20px 0;
}
.error-copy img{
    display: block;
    margin: 0 auto;
}


/* Error Page Ends Here */

